* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lora', serif;
  font-weight: 700, 400;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
}

header {
  background-image: url('../img/hero-aldo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 240px;
}

header p {
  font-weight: 400i;
}

.experiencia {
  background-color: #1f5066;
  color: #ffffff;
}

.experiencia p {
  font-weight: 400;
}

.card-deck {
  display: inline-block;
  margin-top: 4%;
}

.card-img-top {
  width: 90%;
  height: 250px;
  margin-top: 10%;
  margin-left: 4%;
}

.card {
  width: 80%;
  margin-left: 30px;
}

.pega .carousel-indicators .active {
  background: #707070;
}

.pega .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -60px;
}

.pega .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 100%;
  width: 20px;
  height: 2px;
}
